<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Agende as quadras de sua cidade:</p>
    <ol>
      <li>Arena gaivota</li>
      <li>Arena sombrio</li>
      <li>Arena rena</li>
    </ol>
  </body>
</html>
